
#Folders
Temp/
Build/
Library/MetaData/
Library/ScriptAssemblies/

# Unity Files
*.meta
*.unityproj
*.log
*.bin


# Visual Studio Files
*.suo
*.user
*.userprefs
*.userosscache
*.sln.docstates
*.csproj
*.dll
*.mdb


