
#Folders
LabyrinthClient/Temp/
LabyrinthClient/Build/
LabyrinthClient/Library/MetaData/
LabyrinthClient/Library/ScriptAssemblies/
/**/bin/
/**/obj/

# Unity Files
*.meta
*.unityproj
*.log
*.bin


# Visual Studio Files
*.suo
*.user
*.userprefs
*.userosscache
*.sln.docstates
*.csproj
*.dll
*.mdb


